.header {
    color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
}

.profil {
    display: flex;
    width: 30%;
    display: flex;
    gap: 6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
